#Test files
*.ipynb

#Folders
/data
src/__pycache__
src/models/sentiment/__pycache__
src/spark/__pycache__
src/spark/layers/stage/__pycache__
src/spark/layers/universal/__pycache__
src/spark/parameters/__pycache__

/_old/
airflow/logs/
airflow/dags/__pycache__/